# PyCharm config
.idea/

# The generated database
db.sqlite3

# Unnecessary pycache junk
__pycache__

# don't upload distributions
dist/

# ignore more generated distribution info
tweet_commune.egg-info/
