{% extends "tweet_commune/base.html" %}

{% block head %}
    {{ block.super }}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      const DATA = JSON.parse('{{ queue_history | escapejs }}');
      const HEADERS = ['Date', 'Queue Length'];

      function drawChart() {
        var data = google.visualization.arrayToDataTable(
            [HEADERS, ...DATA]
        );

        var options = {
          title: 'Historic Queue Length',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('queue_length_chart'));

        chart.draw(data, options);
      }
    </script>

{% endblock head %}

{# Extend tweet_commune base template content #}
{% block content %}
    {{ block.super }}

    <div id="page" class="container-fluid m-2">

        <div id="queue_length_chart" style="width: 900px; height: 500px"></div>

    </div>

{% endblock content %}
