{% extends "base.html" %}

{% block content %}

    <div class="card my-5">
        <div class="card-header">
            <h2 class="card-title">{{ logentry.get_level_display }} Message </h2>
            <p class="text-muted"> {{ logentry.timestamp }} </p>
        </div>
        <div class="card-body">

            <p class="card-text">
                {{ logentry.message }}
            </p>

        </div>
    </div>

    <a class="btn btn-primary" href="{% url 'home' %}" role="button">Home</a>
    <a class="btn btn-primary" href="{% url 'logentry_list' %}" role="button">Logs</a>

{% endblock content %}